<div th:fragment="footer" class="container-fluid">
<footer class="footer bg-dark text-light py-3">
  <div class="container text-center">
    <p>
      <a href="#" class="text-light me-3">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="mailto:your@email.com" class="text-light me-3">
        <i class="far fa-envelope"></i>
      </a>
      <a href="https://api.whatsapp.com/send?phone=123456789" class="text-light">
        <i class="fab fa-whatsapp"></i>
      </a>
    </p>
    <p>&copy; 2023 Your Website</p>
  </div>
</footer>
  </div>