<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

</head>
<body>


<section>

    <div class="container p-5 custom-bg  mt-4 mb-2">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header text-center fs-4 bg-silver text-dark">Login Page</div>

                    <div th:if="${param.error}" class="alert alert-danger">
                        Invalid username & Password</div>

                    <div th:if="${param.logout}" class="alert alert-success">
                        Logout Sucessfully</div>

                    <div class="card-body">
                        <form action="/login" method="post">

                            <div class="mb-3">
                                <label>Enter Email</label> <input type="text" name="username"
                                                                  class="form-control">
                            </div>


                            <div class="mb-3">
                                <label>Enter Password</label> <input type="text"
                                                                     name="password" class="form-control">
                            </div>
                            <button class="btn btn-dark col-md-12">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>



</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>